#errors {
	width: 100%;
}

#errors td {
	padding: 5px;
	height: 15px;
	vertical-align: top;
}

#errors tr.header {
	background: #aaa;
	color: #000;
	border: 1px solid #000;
}

#errors tr.header a {
	font-weight: bold;
	font-size: 115%;
	color: #fff;
	text-decoration: none;
	text-shadow: #000 1px 1px 1px;
}

#errors tr.odd {
	background: #eee;
}

#errors td.message {
	font-size: 90%;
	width: 50%;
}

#errors td.level {
	padding-left: 20px;
	font-weight: bold;
	color: #333;
	width: 90px;
}

#errors td.error {
	background: url('/referee/img/error.gif') no-repeat;
	background-position: 1px 5px;
}

#errors td.warning, #errors td.user_warning {
	background: url('/referee/img/warning.gif') no-repeat;
	background-position: 1px 4px;
}

#errors td.parse {
	background: url('/referee/img/parse.gif') no-repeat;
	background-position: 1px 5px;
}

#errors td.notice {
	background: url('/referee/img/notice.png') no-repeat;
	background-position: 1px 5px;
}
